services:
  api:
    build:
      context: src/api
    container_name: api
    stdin_open: true
    tty: true
    environment:
      - RAG_CORE_HOST=rag-core
      - MAX_CONTEXT_TOKENS=${MAX_CONTEXT_TOKENS}
    depends_on:
      - rag-core
    networks:
      - rag_network
    
  rag-core:
    build:
      context: src/rag_core
    container_name: rag_core
    restart: unless-stopped
    ports:
      - "8001:8001"
    volumes:
      - ./data:/app/src/data
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - COLLECTION_NAME=${COLLECTION_NAME}
      - EMBEDDING_MODEL=${EMBEDDING_MODEL}
      - LLM_MODEL=${LLM_MODEL}
      - MAX_CONTEXT_TOKENS=${MAX_CONTEXT_TOKENS}
      - LLM_STRICT_RAG=${LLM_STRICT_RAG}
      - LLM_GATEWAY_URL=http://llm-gateway:8002
      - RERANKER_MODEL=${RERANKER_MODEL}
      - RERANKER_THRESHOLD=${RERANKER_THRESHOLD}
      - LANGCHAIN_TRACING_V2=${LANGCHAIN_TRACING_V2}
      - LANGCHAIN_ENDPOINT=${LANGCHAIN_ENDPOINT}
      - LANGCHAIN_API_KEY=${LANGCHAIN_API_KEY}
      - LANGCHAIN_PROJECT=${LANGCHAIN_PROJECT}
    depends_on:
      - postgres
      - llm-gateway
    networks:
      - rag_network
  
  llm-gateway:
    build:
      context: src/llm_gateway
    container_name: llm_gateway
    restart: unless-stopped
    ports:
      - "8002:8002"
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
    networks:
      - rag_network

  postgres:
    image: ankane/pgvector:latest
    container_name: postgres_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    networks:
      - rag_network
  
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - "8011:8011"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    depends_on:
      - postgres

  streamlit-ui:
    build:
      context: src/streamlit_ui
    container_name: streamlit_ui
    restart: unless-stopped
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    environment:
      - LLM_STRICT_RAG=${LLM_STRICT_RAG}
      - LLM_MODEL=${LLM_MODEL}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - EMBEDDING_MODEL=${EMBEDDING_MODEL}
      - RERANKER_MODEL=${RERANKER_MODEL}
      - RERANKER_THRESHOLD=${RERANKER_THRESHOLD}
    depends_on:
      - rag-core
    networks:
      - rag_network

volumes:
  postgres_data:

networks:
  rag_network:
    driver: bridge
