apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rag-app.fullname" . }}-frontend
  labels:
    app.kubernetes.io/component: frontend
spec:
  replicas: {{ index .Values "frontend" "replicaCount" }}
  selector:
    matchLabels:
      app.kubernetes.io/component: frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/component: frontend
    spec:
      containers:
        - name: frontend
          image: "{{ index .Values "frontend" "image" "repository" }}:{{ index .Values "frontend" "image" "tag" }}"
          imagePullPolicy: {{ index .Values "frontend" "image" "pullPolicy" }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
